form.form-inline.new-task {
    margin-bottom: 20px;
    margin-top: 10px;
}

input#inputPassword2 {
    width: 100%;
}

input{
    margin-bottom: 10px;
}

.list-group{
    cursor: pointer;
}

button.btn.btn-primary {
    width: 100%;
}

.far {
    cursor: pointer;
    margin-left: 10px;
}

strong {
    font-size: 11px;
    margin-left: 120px;
    color: #d7d7d7;
}

.done{
    background: #2ecc71;
    color: #fff;
}